body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:oblique;
  background-image: url(./assets/backgrnd.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}
.heading {
  padding: 3%;
  font-size: 5rem;

  font-weight:1100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: url(./assets/resident.jpg);

}

.recentScores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
}


/* #refresh {
  font-size: 1.5rem;
  padding: 2%;
  width: fit-content;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  cursor: pointer;
  border-radius: 10%;
} */

#userForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  font-size: 1rem;
  padding: 2%;
}

.addScores {
  float: right;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}

#userName,
#userScore {
  margin: 2%;
  font-size: 1.5rem;
  padding: 5%;
}
/* 
#submit {
  margin: 2%;
  font-size: 1.5rem;
  padding: 2%;
  cursor: pointer;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
} */

#scoresList {
  border: solid rgb(28, 48, 194) 5px  ;
  list-style: none;
  text-align: left;
  width: 70%;
  margin: 0;
  padding: 0;
  max-height: 275px; /* Adjust this value as needed */
  overflow-y: scroll;
  overflow: auto;
}

li {
  padding: 1%;
}

#scoresList li:nth-child(odd) {
  background-color: rgb(217, 213, 213);
}


.button-style {
  
  margin: 2%;
  font-size: 1.5rem;
  padding: 2%;
  cursor: pointer;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10%;
  background-color:rgb(95, 137, 95);
}
.button-style:hover{
  background-color:rgb(169, 220, 169);
}
.button-style:focus {
  outline-color: transparent;
  outline-style:solid;
  background-color: rgb(122, 232, 75);
  transition: 0.7s;
}

#submit {
  padding:5%;
}